.taskWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 280px;
}

.editedSpan {
  margin: 7px 15px 0 0;
  width: 190px;
}

.titleWrapper {
  display: flex;
  color: #253759;
  justify-content: flex-start;
}

.buttonGroup {
  margin-top: 5px;
}

.error {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.7
}